{% extends "layout.html" %} {% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link href="../static/css/dashboard.css" rel="stylesheet" />
</head>

<body>
  <div class="app">
    {% include 'components/header.html' %}
    <div class="app-body">
      {% include 'components/sidebar.html' %}
      <div class="app-body-main-content">
        <section class="service-section">
          <h3 style="margin-top: 0;">Real Time Object Detection With YOLOv8</h3>
          <section class="col-sm ">
            <img src="{{ url_for('webapp') }}" alt="Upload video">
          </section>
        </section>
      </div>
    </div>
  </div>
</body>

</html>
{% endblock %}